body, html {
  text-align: center;
  font-family: Gotham, Helvetica, Arial, sans-serif;
  font-size: 1em;
}

section {
  width: 50%;
  margin: auto;
}

h1 {
  font-size: 2em;


  color: #6e4b61; {

}

h2 {
  font-size: 1.5em;
}
/*---------- PHONE ----------*/
/* Change the font colors below */
@media (min-width: 320px){
h1 {
  color: #7b7d70;
}
h2 {
  color: 	#4eafb8;
}
p {
  color: #ff8641;
}
}
/*---------- TABLET ----------*/
/* Change the font colors below */
@media (min-width: 768px){
h1 {
  color: #02cbd2;
}
h2 {
  color: #fcc02a;
}
p {
  color: #7b8f8e;
}
}
/*---------- DESKTOP ----------*/
/* Change the font colors below */
@media (min-width: 1200px){
h1 {
  color: #6e4b61;
}
h2 {
  color: #cabd61;
}
p {
  color: #c19e74;
}
}
